.main-light-list-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #4568dc 0%,
    #b06ab3 51%,
    #4568dc 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  /* color: white; */
  box-shadow: 0 0 15px #0a0808;
  border-radius: 30px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.iconLightsOn {
  color: white;
}

.iconLightsOff {
  color: black;
}
