

ion-content{
    --background : rgb(121 105 200);
}

ion-tab-bar{
    --background : #5260ff;
}

ion-tab-button{
    --color : black;
    --color-selected :white;
}

.header-txt-color{
    color:black;
}